extends layout

block content
  h1= title
  p Bem Vindo a #{title}
  div.top
    form.form-horizontal(method="get", id="searchForm", action="/resultado")
      label CEP
      input.span3(id="cep", type="text", name="cep", placeholder="0000-000")
      input.btn(type="submit", value="Pesquisa")

    table.table.table-striped
      thead
        tr
        th Table
        th Heading
      tbody
        tr
        td Blah
        td Test
      tr
        td Hello
        td World
  div.container
    div.content
  div.footer